.components-header{
  box-sizing: border-box;
  padding: 15px 25px;
  border-bottom: 1px solid #CCC;
  background: #FFF;
  
}
.caption{
    font-size:20px;
    text-indent:20px;
}
.components-progress{
  width:100%;
  height:6px;
  background: #DDD;
  cursor: pointer;
}
.progress{
    width:0%;
    height:6px;
}
.player-page {
  width: 700px;
  margin: auto;
  margin-top: 120px;

  
}
.caption {
    font-size: 16px;
    color: rgb(47, 152, 66);
  }

  .cover {
    width: 180px;
    height: 180px;
    margin-left: 20px;

    img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
    }
  }
  .volume-container {
    position: relative;
    left: 20px;
    top: -3px;
  }
  .volume-container .volume-wrapper {
    opacity: 0;
    transition: opacity .5s linear;
  }
  .volume-container:hover .volume-wrapper {
    opacity: 1;
  }
  .music-title {
    font-size: 25px;
    font-weight: 400;
    color: rgb(3, 3, 3);
    height: 36px;
    line-height: 36px;
  }
  .music-artist {
    font-size: 15px;
    font-weight: 400;
    color: rgb(74, 74, 74);
  }
  .left-time {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    width: 80px;
  }
  .icon {
    cursor: pointer;
  }
  .ml20 {
    margin-left: 20px;
  }
  .mt35 {
    margin-top: 35px;
  }
  .volume-wrapper {
    width: 60px;
    display: inline-block;
  }
  


.components-musiclistitem {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #ddd;
  text-indent: 10px;
  cursor: pointer;

}
.components-listitem:hover {
  background: #eee;
}
.delete {
    cursor: pointer;
    height: 30px;
    width: 30px;
    top: 3px;
    position: relative;
    transform: rotate(45deg);
    margin-right: 15px;
}
.delete::before, .delete::after{
  content: '';
  display: block;
  background: #666;
  position: absolute;
}
.delete::before {
  width: 100%;
  height: 1px;
  top: 14px;
  left: 0;
}
.delete::after {
  height: 100%;
  width: 1px;
  left: 15px;
  top: 0;
}
.focus {
    color: #2f9842;
  }
  
a{font: 14px/40px simsun; text-align: center; display: block;}
